
.navbar-bg{
    background-color: #ffcc00 !important;
    height: 80px;
}

.nav-link{
    color: white !important;
    font-size: x-large;
}

.btn-primary{
    background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
    width: 140px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    border-radius: 18px;
}

.logo{
    height: 10vh;
}



.list{
    color: black;

}

.bd{
    border-bottom: 2px solid black;
}