.searchPanel{
    /* background-image: url("https://mollys-filmpalast.com/wp-content/uploads/2019/04/buckets-of-popcorn-on-yellow-background-top-view-6Z8JRQL-e1554798876922.jpg"); */
    padding: 30px;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 80px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

.header1{
    color: white;
    font-weight: 600;
    margin-bottom: 16px;
    font-size: 25px;
    text-align: start;
}

.header2{
    font-size: 28px;
    font-weight: 700;
    color: white;
    margin-bottom: 36px;
}

.searchBox{
    width: 100%;
    padding: 36px 20px;
    background-color: white;
    opacity: 0.35;
    
}

.searchWrapper{
    border-bottom: 1px solid black;
    width: 57%;
}

.searchInput{
    background-color: transparent;
    border: none;
    outline: none;
   /* margin-left: 0px; */
    font-size: large;
    text-align: start !important;
}

.searchInput::placeholder{
    color: black;
}

.searchIcon{
    color: white !important;
}

.h2{
    color: yellow;
    font-weight: 600;
    font-size: 30px !important;

}