.signinContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #ffcc00;
    /* background-image: url('https://mollys-filmpalast.com/wp-content/uploads/2019/04/buckets-of-popcorn-on-yellow-background-top-view-6Z8JRQL-e1554798876922.jpg') ; */
    background-repeat: no-repeat;
    background-size: 1330px;
}

.signinForm{
    width: 500px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: rgba(68, 90, 153, 0.051);
    padding: 60px 45px;
    box-shadow: 0px 0px 29.4px 0.6px rgb(0 0 0 / 50%);
}

.welcomeText{
    color: #31d7a9;
    font-size: 18px;
}

.form-label{
    color: white !important;
    text-transform: uppercase;
}

.welcomeSubText{
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 36px;
}

.form-control-group{
    text-align: left;
}

.form-control::placeholder {color:#999;}

.btn-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 36px;
}

.form-control{
    background: none;
    border: none;
    color: white !important;
    border-bottom: 1px solid #23334f;
    border-radius:0%;
}
.loginText{
    color: white;
}

input::placeholder{
    color: white;
}

.loginLink{
    color: #31d7a9;
}


.form-control:focus{
    background: none;
    border: none;
    outline: none;
    border-color: transparent;
}

.linkWrapper{
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.linkWrapper a{
    text-decoration: none;
    color: #6d7bba;
}