/* .banner{
    margin-top: 75px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.r1{
font-weight: 700;
font-size: 5rem;
/* font-size: 40px; */
}

.bx{
    /* height: ; */
}
.banner p{
    font-size: 38px;
    line-height: 1.4;
    color: white;
}

.header1{
    color: white;
    font-size: 80px;
    font-weight: 700;
}

.header2{
    color: black !important;
    font-size: 4rem !important;
    
}

body{
    /* background-color: #ffcc00; */
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6CfunfQgw9Gv-bwc5f_rzR06gIOpIcnvMEw&usqp=CAU'); */
    background-repeat: no-repeat;
    background-size: 100% 90%;
}

.mo{
color: white;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-color: black;
-webkit-text-stroke-width: 3px;
font-size: 3rem;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.mov{
    color: black;
    font-size: 3rem;
    /* -webkit-text-fill-color: black; */
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
}
